body {
  background: #FFFFF;
  color: black;
  font-family: arial;
}
body header {
  height: 10vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 37.4375em) {
  body header {
    width: 600px;
  }
}
body header .timer {
  position: absolute;
  top: 14%;
  left: 3%;
  font-size: 23px;
  background: #FFAD29;
  width: 8vh;
  height: 8vh;
  line-height: 8vh;
  border-radius: 4vh;
  text-align: center;
}

.game {
  height: 65vh;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 37.4375em) {
  .game {
    width: 600px;
  }
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  height: 30%;
  margin: 1%;
  cursor: pointer;
}

.flip-container.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 23%;
  float: left;
  border-radius: 12px;
}

.flipper {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
}
.flipper .front, .flipper .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-backface-visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: #68800d 0 8px 2px;
}
.flipper .front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: #B2D234 url("img/ais_white.png") no-repeat center;
  background-size: contain;
}
.flipper .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: 1px solid #E8E8E8;
}

/*https://res.cloudinary.com/lloydfenton/image/upload/v1460983932/piggy-bank.png
https://res.cloudinary.com/lloydfenton/image/upload/v1460983932/shoe.png
https://res.cloudinary.com/lloydfenton/image/upload/v1460983932/plane.png
https://res.cloudinary.com/lloydfenton/image/upload/v1460983932/suitcase.png
https://res.cloudinary.com/lloydfenton/image/upload/v1460983932/robot.png
https://res.cloudinary.com/lloydfenton/image/upload/v1460983932/ring.png
https://res.cloudinary.com/lloydfenton/image/upload/v1460983932/palm-tree.png
https://res.cloudinary.com/lloydfenton/image/upload/v1460983932/mp3.png*/

#piggy-bank {
  background: #ff9aa2 url("img/1.png") no-repeat center;
  background-size: contain;
}

#shoe {
  background: #ffb7b2 url("img/2.png") no-repeat center;
  background-size: contain;
}

#plane {
  background: #ffdac1 url("img/3.png") no-repeat center;
  background-size: contain;
}

#suitcase {
  background: #e2f0cb url("img/4.png") no-repeat center;
  background-size: contain;
}

#robot {
  background: #b5ead7 url("img/5.png") no-repeat center;
  background-size: contain;
}

#ring {
  background: #c7ceea url("img/6.png") no-repeat center;
  background-size: contain;
}

@media only screen and (max-width: 420px) {
  .flip-container {
    height: 16%;
}
}